# Logs
logs
*.log
npm-debug.log*

# TypeScript cache
*.tsbuildinfo

# Node Modules
.npm
node_modules

# Stores VSCode versions used for testing VSCode extensions
.vscode-test


# Build files
.swc
dist

# Generate Stylesheets
public/stylesheets